.container {
  padding: 0px 2rem;
}

header {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  margin-left: 20px;
}

header i {
  margin: 4px;
  padding: 4px;
}

#menu-icon {
  color: black;
}

#youtube-icon {
  color: red;
  padding: 15px;
}

header input {
  padding: 8px;
  margin: 30px;
  width: 460px;
  border-radius: 15px;
  border: 1px solid red;
}

header button {
  border-radius: 15px;
  border: 1px solid red;
}

header button:hover {
  cursor: pointer;
  background-color: black;
  color: red;
}

#sign-in {
  text-decoration: none;
  font-weight: bold;
}

#user {
  color: rgb(255, 0, 0);
  margin: 4px;
  padding: 4px;
}

.back-to {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: inline-block;
  background-color: rgb(255, 0, 0);
  padding: 20px;
  border-radius: 20px;
}

.back-to:hover {
  background-color: rgb(0, 153, 255);
  color: rgb(189, 226, 43);
}

#developers h3 {
  background-color: rgb(226, 43, 58);
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#developers ul {
  background-color: rgb(113, 43, 226);
  padding: 105px;
}

#developers li {
  margin-top: 60px;
}

#developers li a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  background-color: firebrick;
  padding: 10px;
  border-radius: 20px;
}

#developers li a:hover {
  background-color: rgb(109, 21, 21);
}

#backgr-image {
  background-image: url(https://rottenswamp.ru/images/111111-2_6c7ec.jpg);
  vertical-align: bottom;
  width: 100%;
  height: 1000px;
}

.image-text {
  color: #fff;
  font-size: 60px;
  padding: 25px;
  font-family: serif;
  font-weight: bold;
}

#cv1 {
  border: 4px solid black;
  margin-top: 30px;
  background-color: blanchedalmond;
}

.cv-title {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 180px;
}

#cv1 hr {
  height: 5px;
  background-color: black;
  width: 70%;
}

#cv1 h1 {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
}

.personal ul li {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.personal ul li span {
  font-weight: 100;
}

.about-table {
  margin-left: 340px;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
}

table th {
  border: 2px solid black;
}

table td {
  border: 2px solid black;
}

.bottom-part span {
  font-weight: 100;
  font-size: 20px;
  margin-left: 50px;
}

.achievements ul li {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.abilities ul li {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.participation ul li {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#cv2 {
  border: 4px solid black;
  margin-top: 30px;
  background-color: blanchedalmond;
}

#cv2 hr {
  height: 5px;
  background-color: black;
  width: 70%;
}

#cv2 h1 {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
}

#cv3 {
  border: 4px solid black;
  margin-top: 30px;
  background-color: blanchedalmond;
}

#cv3 hr {
  height: 5px;
  background-color: black;
  width: 70%;
}

#cv3 h1 {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
}

#cv4 {
  border: 4px solid black;
  margin-top: 30px;
  background-color: blanchedalmond;
}

#cv4 hr {
  height: 5px;
  background-color: black;
  width: 70%;
}

#cv4 h1 {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
}

#about {
  background-color: rgb(174, 0, 0);
  padding: 15px;
  width: 97.5%;
}

#about i {
  color: #fff;
}

#about span {
  margin-left: 320px;
  color: #fff;
}

footer a {
  cursor: pointer;
  background-color: lightblue;
  padding: 6px;
  margin-left: 74rem;
  display: right;
  border-radius: 15px;
}
