#login {
  background-image: url(https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg);
  padding: 10px 0;
  background-position: center;
}

body::-webkit-scrollbar{
  width: 0;
}

#login h1 {
  padding-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

#login span {
  text-align: center;
}

.create {
  text-align: center;
  margin-top: 50px;
  opacity: 90%;
  background-color: rgb(133, 255, 202);
  width: 40%;
  margin-left: 380px;
  height: 1050px;
  border-radius: 40px;
}

.create input {
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 6px;
}

.reset {
  padding: 15px;
  width: 170px;
  border-radius: 20px;
  border: 1px solid rgb(255, 0, 0);
  color: rgb(75, 75, 75);
  font-size: 15px;
  cursor: pointer;
}

.reset:hover {
  background-color: red;
  color: white;
}

.submit {
  padding: 15px;
  width: 170px;
  border-radius: 20px;
  border: 1px solid rgb(0, 255, 0);
  color: rgb(75, 75, 75);
  font-size: 15px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(0, 255, 0);
  color: white;
}

form label {
  font-size: 22px;
}

.backto {
  text-decoration: none;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: inline-block;
}

.backto:hover {
  color: brown;
}

textarea {
  resize: vertical;
  height: 170px;
  width: 300px;
  max-height: 250px;
}

summary {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
}

summary:hover {
  text-decoration: underline;
}

details p {
  background-color: white;
}

legend {
  text-align: start;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 20px;
  font-size: 23px;
  color: white;
}

fieldset {
  border: 5px solid rgb(0, 0, 0);
}

.site-progress {
  font-size: 22px;
}
